body, h1, h2, h3, h4, h5, h6 { font-family: "Montserrat", sans-serif; }
.w3-row-padding img          { margin-bottom: 12px; }

.w3-sidebar {
  width: 120px;
  background: #222;
}

tr:not(:nth-child(1)) { cursor: pointer; }

main { margin-left: 120px; }                                         /* matches the width of the sidebar */

#summary             { position: sticky; bottom: -125px; width: 95.5%; transition: bottom 1s; }
#summary:hover       { bottom: 0px; }

select       { color: #FFF; background-color: #000; font-size: 1.25em; }
select:focus { outline: none; }

/* PHONES */
@media only screen and (max-width: 600px) { 
  main     { margin-left: 0; }                                       /* removes the margin on phones */
  .badge   { font-size: 8px !important; }
} 

@media only screen and (max-width: 845px) {
  #summary { position: static; }                                     /* not sticky on phones */
}

@media only screen and (max-width: 800px) {
  .badge   { font-size: 3px !important; }
}

@media only screen and (max-width: 900px) {
  .badge   { font-size: 8px !important; }
}

@media only screen and (max-width: 1000px) {
  .badge   { font-size: 10px !important; }
}

@media only screen and (max-width: 1100px) {
  .badge   { font-size: 12px !important; }
}

@media only screen and (max-width: 1200px) {
  .badge   { font-size: 14px !important; }
}

@media only screen and (max-width: 1300px) {
  .badge   { font-size: 16px !important; }
}

#slider-container { width: 100%; }
.slider {
  -webkit-appearance: none;
  width: 85%;
  height: 25px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover  { opacity: 1; }
.slider:active { border: none; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background: #000;
  cursor: pointer;
  border: solid 5px navyblue;
  outline: white solid 3px;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 25px;
  background: #000;
  cursor: pointer;
  border: solid 5px blue;
}

/* tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* position of text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -60px;

  /* fade of text */
  opacity: 0;
  transition: opacity 0.3s;
  font-family: "Montserrat", sans-serif;
}

/* tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* display text when you mouse-over the container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

th {
  font-variant: small-caps;
  font-size: 1.3em;
}

#lock {
    position: absolute;
    bottom: 7%;
    right: 5%;
    font-size: 2em;
}

.badge {
  text-align: center;
  position: relative;
  left: 2.5%;
  display: inline-block;
  // width: 3.5em;
  width: 6vw;
  bottom: 2.5px;
  padding: 0 .35em;
  background-color: #EAEAEA !important;
  border: 2px solid white;
}

.links {
    text-decoration: none;
    color: #FFF;
}

.links::after {
    font-size: .75em;
    content: " \1F855"
}