::selection {
    background-color: #AEB6BF;
}

body, h1, h2, h3, h4, h5, h6 { font-family: "Montserrat", sans-serif; }
.w3-row-padding img          { margin-bottom: 12px; }

.w3-sidebar {
  width: 120px;
  background: #222;
}

tr:not(:nth-child(1)) { cursor: pointer; }

main { margin-left: 120px; }                                         /* matches the width of the sidebar */

#summary { position: sticky; bottom: -125px; width: 97%; transition: bottom 1s; }

#minimize {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 1.5em;
}

#lock {
    position: absolute;
    bottom: 7%;
    right: 3%;
    font-size: 1.5em;
}

select       { color: #FFF; background-color: #000; font-size: 1.25em; }
select:focus { outline: none; }

.badge {
  font-size: 1.5vw;
  text-align: center;
  position: relative;
  left: 2%;
  display: inline-block;
  width: 7vw;
  bottom: 5px;
  padding: 0 .35em;
  background-color: #EAEAEA !important;
  border: 2px solid white;
}

/* PHONES */
@media only screen and (max-width: 600px) { 
  main     { margin-left: 0; }                                       /* removes the margin on phones */
  .badge   { font-size: 2vw; }
} 

@media only screen and (max-width: 825px) {
  #summary  { position: static; }                                     /* not sticky on phones */
  #minimize { display: none; }
  #lock     { display: none; }
}

@media only screen and (max-width: 960px) {
  .badge   { font-size: 1.75vw; width: 8vw;}
}

#slider-container { width: 100%; }
.slider {
  -webkit-appearance: none;
  width: 85%;
  height: 25px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover  { opacity: 1; }
.slider:active { border: none; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background: #000;
  cursor: pointer;
  border: solid 5px navyblue;
  outline: white solid 3px;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 25px;
  background: #000;
  cursor: pointer;
  border: solid 5px blue;
}

/* tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* position of text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -60px;

  /* fade of text */
  opacity: 0;
  transition: opacity 0.3s;
  font-family: "Montserrat", sans-serif;
}

/* tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* display text when you mouse-over the container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

th {
  font-variant: small-caps;
  font-size: 1.3em;
}

.links {
    text-decoration: none;
    color: #FFF;
}

.links::after {
    font-size: .75em;
    content: " \1F855"
}

/* the switch is the label, which activates the checkbox */
#switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
}

/*
#switch > * {
  pointer-events: none;
}
*/

canvas {
    margin-top: 25px;
}

/* hide the default checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

#switch-slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + #switch-slider         { background-color: #52BE80; }
input:focus   + #switch-slider         { box-shadow: 0 0 1px #52BE80; }
input:checked + #switch-slider::before { transform: translateX(32px); }
